.language-dropdown {
  display: none;

  @include on-desktop {
    display: block;
    color: $color-contrast-color;
  }

  &__options {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;

    height: 111px;
    border-radius: 4px;

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-contrast-color;
    }

    &::-webkit-scrollbar-track {
      background-color: #014954;
    }
  }

  &__select {
    cursor: pointer;

    position: relative;

    display: flex;

    width: auto;
    max-width: 70px;
    height: 21px;
  }

  &__selected {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
  }

  &__arrow {
    width: 9px;
    height: 6px;
    margin-left: 4px;
    transition: transform $animation-speed;
  }
}
