.menu {
  overflow: auto;
  box-sizing: border-box;
  height: 100vh;
  background-color: $color-gradient-start;

  @include on-tablet {
    height: 55vh;
    max-height: 596px;
  }

  @include on-desktop {
    display: none;
  }

  &--active {
    pointer-events: all;

    z-index: 105;
    transform: translateX(0);

    display: block;

    opacity: 1;

    transition: transform, $animation-speed;
  }

  &--inactive {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);

    opacity: 0;
  }

  &__top {
    display: flex;
    justify-content: end;

    margin-bottom: 38px;
    padding-top: 20px;
    padding-right: 21px;

    @include on-tablet {
      padding-top: 34px;
      padding-right: 34px;
    }

    &--language {
      justify-content: start;
      padding-top: 20px;
      padding-left: 21px;

      @include on-tablet {
        padding-top: 33px;
        padding-left: 33px;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 22px;

    padding-bottom: 22px;
    padding-left: 21px;

    @include on-tablet {
      padding-left: 152px;
    }
  }

  &__language-button--selected {
    color: $color-contrast-color;

    &::after {
      content: '';

      position: absolute;
      z-index: -1;
      top: -11px;
      left: -21px;

      width: 100vw;
      height: 49px;

      background-color: #110e25;

      transition: width $animation-speed;

      @include on-tablet {
        left: -152px;
      }
    }
  }
}
