.more {
  max-height: 67px;
  transition: height $animation-speed ease;

  @include on-tablet {
    padding-top: 70px;
  }

  @include on-desktop {
    max-height: 0;
    padding-top: 0;
  }

  &-info {
    pointer-events: none;

    transform: translateY(-100%);

    display: flex;
    flex-direction: column;
    gap: 11px;

    opacity: 0;

    transition:
      opacity $animation-speed ease,
      transform $animation-speed ease;

    @include on-tablet {
      grid-column: span 3;
      text-align: center;
    }

    @include on-big-desktop {
      grid-column: span 4;
    }

    &__title {
      margin: 0;
      color: white;

      @include on-tablet {
        gap: 20px;
      }
    }

    &__description {
      height: 49px;
      margin: 0;
      color: $color-text-color;

      @include on-tablet {
        height: 77px;
      }

      @include on-desktop {
        height: 97px;
      }

      @include on-big-desktop {
        height: 76px;
      }
    }

    &__icon {
      display: none;

      @include on-tablet {
        display: block;
        align-self: center;

        width: 84px;
        height: 84px;
        margin-bottom: 22px;

        @include hover(transform, scale(1.1));
      }

      @include on-big-desktop {
        width: 98px;
        height: 81px;
      }
    }
  }

  &--active {
    max-height: 100%;
    padding-bottom: 50px;
    .more-info {
      pointer-events: all;
      transform: translateY(0);
      opacity: 1;
    }

    @include on-desktop {
      padding-block: 100px;

      .more__top {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @include on-big-desktop {
      padding-block: 158px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include on-desktop {
      gap: 83px;
    }

    @include on-big-desktop {
      gap: 70px;
    }
  }

  &__top {
    cursor: pointer;
    height: 67px;
    text-align: center;

    @include hover(transform, scale(1.1));

    @include on-desktop {
      cursor: auto;
      transform: translateY(-100%);
      opacity: 0;
      transition:
        opacity $animation-speed ease,
        transform $animation-speed ease;

      @include hover(transform, none);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      @include page-grid;
    }
  }

  &__description {
    margin: 0;
    color: $color-contrast-color;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    color: white;

    @include on-desktop {
      margin-bottom: 16px;
    }

    &--blue {
      color: $color-contrast-color;
    }
  }
}
