.quantity {
  &-label {
    padding-left: 6px;
  }

  &-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include on-tablet {
      gap: 20px;
    }

    &__select {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      width: 90px;
      height: 41px;
      padding-left: 30px;

      background-color: $color-gradient-start;
    }

    &__selected {
      display: flex;
      gap: 21px;
      color: white;
    }

    &__options {
      width: 90px;
      color: white;
    }

    &__option {
      width: 100%;
      text-align: center;
    }
  }
}
