.faq {
  box-sizing: border-box;
  height: 100%;
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding-inline: 90px;
  }

  @include on-big-desktop {
    padding-right: 92px;
    padding-left: 95px;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 68px;
    color: white;

    &--blue {
      color: $color-contrast-color;
    }

    @include on-tablet {
      max-width: 280px;
    }

    @include on-desktop {
      max-width: 520px;
      margin-bottom: 50px;
      padding-top: 60px;
    }

    @include on-big-desktop {
      max-width: 622px;
      margin-bottom: 37px;
      padding-top: 70px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 13px;

    @include on-tablet {
      gap: 18px;
    }

    @include on-desktop {
      gap: 15px;
    }
  }

  &__card {
    box-sizing: border-box;
    max-height: 84px;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-inline: 12px;
    border: 1px solid $color-contrast-color;
    border-radius: 4px;

    transition: max-height $animation-speed;

    @include on-tablet {
      max-height: 54px;
      padding-left: 30px;
      padding-block: 14px;
    }

    @include on-desktop {
      max-height: 60px;
      padding-block: 18px;
    }

    &-arrow {
      display: none;

      @include on-desktop {
        rotate: -90deg;

        display: block;

        width: 9px;
        height: 6px;
        padding-top: 10px;

        transition: rotate, $animation-speed;
      }
    }

    &-answer {
      pointer-events: none;
      margin-top: 0;
      margin-bottom: 10px;
      opacity: 0;

      @include on-tablet {
        margin-bottom: 15px;
      }

      @include on-desktop {
        margin-bottom: 20px;
      }
    }

    &-date {
      pointer-events: none;

      margin-top: 0;
      margin-bottom: 14px;

      color: #545454;

      opacity: 0;

      @include on-tablet {
        margin-bottom: 24px;
      }

      @include on-desktop {
        margin-bottom: 21px;
      }

      @include on-big-desktop {
        margin-bottom: 23px;
      }
    }

    &--active {
      max-height: 608px;
      padding-bottom: 0;

      .faq__card-answer {
        opacity: 1;
      }

      .faq__card-date {
        opacity: 1;
      }

      .faq__card-arrow {
        rotate: 0deg;
      }
    }

    &-title {
      margin: 0;
      margin-bottom: 18px;
      color: $color-contrast-color;

      &-wrapper {
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        @include hover(transform, scale(1.01));
      }
    }
  }
}
