.modal {
  --inline-position: 0;
  --block-position: 0;

  pointer-events: none;

  position: fixed;
  z-index: 101;
  inset: var(--block-position) var(--inline-position) var(--block-position)
    var(--inline-position);
  inset: 0;
  transform: translateX(-100%);

  overflow: hidden auto;
  overscroll-behavior: none;

  width: auto;
  height: auto;

  opacity: 0;
  background-color: $color-gradient-start;
  &--active {
    pointer-events: all;
    transform: translateX(0);
    opacity: 1;
  }

  &--video {
    aspect-ratio: auto;
    border-radius: 4px;

    @include on-desktop {
      --block-position: calc((100% - 486px) / 2);
      --inline-position: calc((100% - 876px) / 2);
    }

    & iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &--faq {
    border-radius: 4px;

    @include on-desktop {
      --block-position: max(calc((100% - 854px) / 2), 0px);
      --inline-position: calc((100% - 880px) / 2);
    }

    @include on-big-desktop {
      --block-position: max(calc((100% - 793px) / 2), 0px);
      --inline-position: calc((100% - 1083px) / 2);
    }
  }

  &--help {
    @include on-desktop {
      --block-position: max(calc((100% - 550px) / 2), 0px);
      --inline-position: calc((100% - 880px) / 2);
    }

    @include on-big-desktop {
      --block-position: max(calc((100% - 518px) / 2), 0px);
      --inline-position: calc((100% - 1083px) / 2);
    }
  }

  &__content {
    width: 100vw;
    height: 100vh;

    &--video {
      @include on-desktop {
        width: 876px;
        height: 486px;
      }
    }

    &--faq {
      @include on-desktop {
        width: 880px;
        max-height: 854px;
      }

      @include on-big-desktop {
        width: 1083px;
        max-height: 793px;
      }
    }

    &--help {
      height: 100%;

      @include on-tablet {
        max-height: 596px;
      }

      @include on-desktop {
        width: 880px;
        max-height: 550px;
      }

      @include on-big-desktop {
        width: 1083px;
        max-height: 518px;
      }
    }
  }

  &__close {
    cursor: pointer;

    position: fixed;
    z-index: inherit;
    top: 20px;
    right: 20px;

    width: 17px;
    height: 17px;
    border: 0;

    background-color: transparent;
    background-image: url('./../images/icon/icon-close.svg');

    @include on-tablet {
      top: 34px;
      right: 34px;
    }

    @include on-desktop {
      top: 18px;
      right: 18px;
    }

    @include on-big-desktop {
      top: 28px;
      right: 28px;
    }

    &--video {
      top: 15px;
      right: 13px;
    }
  }
}
