$animation-speed: 0.3s;
$color-contrast-color: #05c2df;
$ccolor-background-black: #05040b;
$color-dark-grey: #2f2f2f;
$color-text-color: #929292;
$color-gradient-start: #191536;
$main-font: Inter, Arial, Helvetica, sans-serif;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$big-desktop-min-width: 1922px;
$fonts: (
  h1: (
    font: $main-font,
    weight: 400,
    size: (
      mobile: 26px,
      tablet: 26px,
      desktop: 46px,
      big-desktop: 54px,
    ),
    height: 130%,
  ),
  h1-bold: (
    font: $main-font,
    weight: 900,
    size: (
      mobile: 26px,
      tablet: 26px,
      desktop: 46px,
      big-desktop: 54px,
    ),
    height: 130%,
  ),
  h2: (
    font: $main-font,
    weight: 400,
    size: (
      mobile: 21px,
      tablet: 21px,
      desktop: 36px,
      big-desktop: 36px,
    ),
    height: 100%,
  ),
  h2-bold: (
    font: $main-font,
    weight: 900,
    size: (
      mobile: 21px,
      tablet: 21px,
      desktop: 36px,
      big-desktop: 36px,
    ),
    height: 100%,
  ),
  button-primary: (
    font: $main-font,
    weight: 500,
    size: (
      mobile: 14px,
      tablet: 16px,
      desktop: 16px,
      big-desktop: 16px,
    ),
    height: normal,
  ),
  button-footer: (
    font: $main-font,
    weight: 400,
    size: (
      mobile: 13px,
      tablet: 14px,
      desktop: 14px,
      big-desktop: 14px,
    ),
    height: 150%,
  ),
  main: (
    font: $main-font,
    weight: 400,
    size: (
      mobile: 16px,
    ),
    height: 150%,
  ),
  secondary: (
    font: $main-font,
    weight: 400,
    size: (
      mobile: 14px,
    ),
    height: normal,
  ),
  small: (
    font: $main-font,
    weight: 400,
    size: (
      mobile: 12px,
      desktop: 14px,
    ),
    height: normal,
  ),
  header-info: (
    font: $main-font,
    weight: 500,
    size: (
      mobile: 16px,
      big-desktop: 20px,
    ),
    height: normal,
  ),
  subtitle: (
    font: $main-font,
    weight: 900,
    size: (
      mobile: 16px,
      tablet: 18px,
    ),
    height: normal,
  ),
  ordering-secondary: (
    font: $main-font,
    weight: 400,
    size: (
      mobile: 18px,
      tablet: 20px,
    ),
    height: normal,
  ),
  menu: (
    font: $main-font,
    weight: 500,
    size: (
      mobile: 21px,
    ),
    height: normal,
  ),
  select-quanity: (
    font: $main-font,
    weight: 500,
    size: (
      mobile: 20px,
    ),
    height: normal,
  ),
  ordering-price: (
    font: $main-font,
    weight: 500,
    size: (
      mobile: 26px,
      tablet: 36px,
    ),
    height: normal,
  ),
  ordering-h2: (
    font: $main-font,
    weight: 500,
    size: (
      mobile: 26px,
      tablet: 46px,
    ),
    height: normal,
  ),
  ordering-h2-bold: (
    font: $main-font,
    weight: 900,
    size: (
      mobile: 26px,
      tablet: 46px,
    ),
    height: normal,
  ),
  price: (
    font: $main-font,
    weight: 500,
    size: (
      mobile: 18px,
      big-desktop: 20px,
    ),
    height: normal,
  ),
  ordering-step: (
    font: $main-font,
    weight: 500,
    size: (
      mobile: 12px,
      tablet: 14px,
    ),
    height: normal,
  ),
  ordering-thanks: (
    font: $main-font,
    weight: 500,
    size: (
      mobile: 16px,
      tablet: 18px,
    ),
    height: 130%,
  ),
  about-words: (
    font: $main-font,
    weight: 900,
    size: (
      tablet: 48px,
      desktop: 64px,
    ),
    height: 130%,
  ),
);
