.icon {
  display: block;
  object-fit: cover;
  background-repeat: no-repeat;

  &--menu {
    width: 30px;
    height: 13px;
    background-image: url('./../images/icon/icon-menu.svg');

    @include hover(transform, scale(1.1));

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    width: 17px;
    height: 17px;
    background-image: url('./../images/icon/icon-close.svg');
  }
}
